{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    {% for roompost in roompost_list %}
        <div class="mx-auto row">
            <div class="col">
                <a href="{% url 'post_details' roompost.id %}">
                {% if "placeholder" in post.featured_image.url %}
                <img class="" src="{% static 'images/default.jpg' %}" 
                    alt="placeholder image">
                {% else %}
                <img class="" src="{{ roompost.featured_image.url}}" 
                    alt="{{roompost.title}}">
                {% endif %}
                </a>
            </div>
            <div class="col">
                <article>
                    <h1 class=""><a href="{% url 'post_details' roompost.id %}">  {{roompost.title}} </a></h1>
                    <p class=""> {{roompost.description | safe }} </p>
                    <p> Date Available From : {{roompost.available_from }}</p>
                    <p> Date Available To : {{roompost.available_to }}</p>
                </article>
            </div>     
        </div>
    {% endfor %}
</div>
{% endblock content%}