{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    {% for post in posts %}
        <div class="mx-auto row">
            <div class="col">
                <a href="{% %}">
                {% if "placeholder" in post.featured_image.url %}
                <img class="" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                {% else %}
                <img class="" src="{{ post.featured_image.url}}" alt="{{post.title}}">
                {% endif %}
                </a>
            </div>
            <div class="col">
                <article>
                    <h1 class=""><a href=" " >  {{post.title}} </a></h1>
                    <p class="">  Date Availiable From {{post.available_from }} </p>      
                    <p> Date Availiable From {{post.available_from }}</p>
                    <p> Date Availiable To {{post.available_to }}</p>
                </article>
            </div>     
        </div>
    {% endfor %}
</div>
{% endblock content%}