{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Header Image  -->

<div class="">
    {% for package in packages %}
        <div class="mx-auto row">
            <div class="col">
                <a href="{% url 'itinerary_detail' package.package_id %}">
                {% if "placeholder" in package.featured_image.url %}
                <img class="" src="{% static '' %}" alt="placeholder image">
                {% else %}
                <img class="" src="{{  }}" alt=" ">
                {% endif %}
                </a>
            </div>
            <div class="col">
                <article>
                    <h1 class=""> {{ }} </h1>
                    <p class=" "> 
                        <a href="" > 
                            £{{ }} </a></p>
                    
                    <p> {{  }}</p>
                    <p> {{  }}</p>
                    
                </article>
            </div>
                
            
        </div>
    {% endfor %}
</div>
{% endblock content%}