{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- Background image -->
<div class="hero-image" style="background-image: url('/static/images/hero.jpg'); background-position: center; background-size: cover">

    <!-- Centered text and button -->
    <div class="hero-text text-center">
        <h1>Find your perfect student room at Campus Corner!</h1>
        <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign up!</a>
    </div>
</div>

<!-- What we do section -->
<div class="container mt-5 d-sm-block">
    <h2 class="text-center mb-4"><i class="fa-solid fa-building-columns"></i> What we do</h2>
    <p>Campus Corner is a platform that connects students looking for affordable accommodation
        with those who have available rooms to rent. The website provides an easy and convenient way for users 
        to post listings, search for shared housing, and find compatible roommates.</p>
</div>



{% endblock %}