/* Navbar */
.navbar {
    height: 100px;
    background-color: #49c2ca;
}

.navbar ul a {
    color: #eeeed7;
    font-weight: bold;
}

/* Hero image */

.hero-image {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eeeed7;
    position: relative;    
}

.btn {
    background-color: #49c2ca;
    color: #eeeed7;
    font-weight: bold;
}

.hero-text {
    position: relative;
    z-index: 1;    
}

.hero h1 {
    font-size: 3.5em;
    margin: 0;
}

.hero a {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Browse Post Body */
.browsepost_body{
    padding: 20px 30px;
    width: 80%;
    box-shadow: 0 0 10px rgb(150, 143, 143);
    margin: 5px;
    letter-spacing: 0.2px;
    flex-direction: row; 
    align-items: flex-start;
    background-color: rgba(242, 167, 121, 0.34);
}

.browsepost_body a{
    text-decoration: none;
    color : #d5c6c6;
    text-shadow: 2px 2px 4px #000000;
}
    

.placeholder {
    width : 80%;
    height : 60%;
}

/* Post Details  */
.postDetails_body{
    padding: 20px 30px;
    width: 80%;
    box-shadow: 0 0 10px rgb(150, 143, 143);
    margin: 9px;
    letter-spacing: 0.2px;
    background-color: rgba(242, 167, 121, 0.34);
}
.postDetails_body h1{
    color : #d5c6c6;
    text-shadow: 2px 2px 4px #000000;
}
/* Footer */

.footer {
    position: relative;
    margin-top: auto;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #49c2ca;
    color: #eeeed7;
    text-align: center;
}


.faded {
    color: rgb(172, 175, 175);
}


/* Media Query for the smaller screen devices*/
@media (max-width: 758px) {

    .browsepost_body{
        display : flex;
        width : 85%;
        flex-direction: column; /* Ensures image is above text */
        align-items: center; /* Centers content horizontally */
        justify-content: center;
    }
}
