/* Navbar */

.navbar {
    height: 100px;
    background-color: #49c2ca;
}

.navbar ul a {
    color: #eeeed7;
    font-weight: bold;
}

/* Hero image */

.hero-image {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eeeed7;
    position: relative;    
}

.btn {
    background-color: #49c2ca;
    color: #eeeed7;
    font-weight: bold;
}

.hero-text {
    position: relative;
    z-index: 1;    
}

.hero h1 {
    font-size: 3.5em;
    margin: 0;
}

.hero a {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Footer */

.footer {
    position: relative;
    margin-top: auto;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #49c2ca;
    color: #eeeed7;
    text-align: center;
}


.faded {
    color: rgb(172, 175, 175);
}



.placeholder {
    width : 55%;
    height : 60%;
}